
  <!DOCTYPE html>
<html lang="en">
<head>
  <title>User Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Register User Information</h2><br>
    <h3><a href="/show_all_data/">Show all Data</a></h3>
  
<form action="/searchdata/">
  <h2>Search data by id</h2>
  <input type="text" name="id"  placeholder="Enter ID ">
  <input type="submit" value="search"/>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      
    </tr>
  </thead>
  <tbody>
    {% for d in user_data %}
    <tr>  
      <form action="/updateuser/" method="post">
        {% csrf_token %}
        <td scope="row">{{d.id}}<input type="hidden" name="id" value="{{d.id}}" /></td>
        <td><input type="text" name="name" value="{{d.name}}" /></td>
        <td><input type="email" name="email" value="{{d.email}}"/></td>
        <td><input type="text" name="mobile" value="{{d.mobile}}"/></td>
        <td><input type="submit" value="Update" /></td>
      </form>
        <th><a href="/deleteuser?id={{d.id}}">Delete</a></th>         
    </tr>
    {% endfor %}
   
  </tbody>
</table>
</div>

</body>
</html>
